{% extends "base.html" %} {% block content %}
<h1>Add Note</h1>

<div class="flex flex-wrap">
    {% for contact in contacts %}
        <div>{{ note.note }}</div>
      </div>
    {% endfor %}
  </div>
<br>
<div>
  <form action="{% url 'add_note' pk=contact.pk %}" method="POST">
    {% csrf_token %} {{ form.as_p }} {% for note in contact.notes.all %}
    <div class="flex">
      <div>{{ note.note }}</div>
    </div>
    {% endfor %}
    <br />
    <div>
      <button type="submit">Add Note for {{ contact.name }}</button>
    </div>
  </form>
</div>
{% endblock %}
